.pilar-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pilar-bar-hero {
  text-align: center;
  position: relative;
}

.pilar-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
}

.pilar-bar-text_title {
  font-family: Pilar;
}

.pilar-bar-text_intro {
  width: 80%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin: 0 0 6rem 0;
}

.pilar-bar-img {
  width: 100%;
  height: 100vh;
}

.cards-title {
  margin: 0 auto;
  font-size: 2.5rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 1rem;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.facilities-title {
  font-family: Pilar;
}

.facilities-container ul li {
  list-style: none;
}

@media (max-width: 768px) {
  .pilar-bar-img {
    object-fit: cover;
  }

  .pilar-bar-text {
    width: 90%;
  }

  .cards-title {
    text-align: center;
  }

  .cards-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .facilities-container {
    margin-bottom: 1rem;
  }

  .facilities-container ul {
    padding: 0;
    margin: 0 auto;
    width: 80%;
  }
}
