.card-container {
  position: relative;
  background-color: white;
  color: black;
  max-width: 15rem;
  padding: 1rem 1rem 4rem 1rem;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(255, 255, 255, .7);
  max-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container:hover {
  box-shadow: 0 10px 12px rgba(255, 255, 255, .7);
  scale: 1.05;
}

.card-container p {
  margin: 0.5rem 0;
  font-size: .9rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container p:nth-child(4) {
  width: 60%;
  height: 3rem;
}

.card-container p:nth-child(6) {
  height: 6rem;
}

.card-title {
  font-family: Pilar;
  font-size: 1.6rem;
}

.card-separator {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}