.card-container {
  position: relative;
  background-color: white;
  color: black;
  width: 13rem;
  padding: 1rem 1rem 5rem 1rem;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.7);
  max-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container:hover {
  box-shadow: 0 10px 12px rgba(255, 255, 255, 0.7);
  scale: 1.05;
}

.card-container p {
  font-size: clamp(0.6rem, 1vw, 0.9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card-container p:nth-child(4) {
  width: 100%;
}

.card-title {
  font-family: Pilar;
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.card-separator {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: 1rem auto;
}

@media (max-width: 1024px) {
  .card-container {
    padding: 0.5rem;
    min-width: 10rem;
    max-height: 25rem;
  }

  .card-separator {
    height: 1px;
  }

  .card-container p {
    margin: 0.1rem 0;
  }

  .card-container .center span {
    font-size: 0.9rem;
  }
}
