.phoneInput-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PhoneInputInput {
  padding: 0.5rem;
  border: none;
  color: white;
}

.PhoneInputInput::placeholder {
  color: #999;
}

.PhoneInputCountry {
  padding: 0.5rem;
  margin-right: 0;
}

.PhoneInputCountrySelectArrow {
  color: white;
  margin-left: .6rem;
}
