.section {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.left {
  flex-direction: row-reverse;
}

.section-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3rem;
}

.section-text_title {
  font-family: Pilar;
  font-size: 3rem;
}

.section-text_description {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 70%;
}

.section-img {
  width: 50%;
}
