.switch-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  cursor: pointer;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 23px;
  transition: 0.4s;
}

.slider:before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #51b43c;
}

input:checked + .slider:before {
  transform: translateX(17px);
}
