.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea {
  padding: 0.5rem;
  border: none;
  color: white;
  font-family: inherit;
  font-size: .9rem;
  resize: vertical;
}

.textarea::placeholder {
  color: #999;
}